.login-card {
  width: 100%;
  max-width: 420px;
  border: none;
  box-shadow: 0 10px 25px rgba(0,0,0,.08);
  border-radius: 12px;
 
}


body {
  background: #f5f7fb;
}

.form-control {
  height: 44px;
}

.btn {
  height: 44px;
}